body{
    background-color: rgb(251, 242, 234);
    font-size: 16px;
}

.navigation{
    /* border: 2px solid red; */
}

.link 

.pageHeading, .siteHeader{
    color: rgb(243 91 28);
}

.bar{
    background: linear-gradient(to right,rgb(250, 127, 37) 0,rgb(253, 190, 19) 90%,rgb(250, 127, 37) 100%);
    
    display: block;
    flex: 0 0 auto;
    height: 8px;
    z-index: 5;
}

.preferences, .menuBar, .footerLinkTitle{
    display: flex;
    flex-wrap: wrap;
}

.menuBar, .main div{
    background-color: rgb(255, 255, 255);
}

.lang, .userMenu, .dropDownIcon{
    margin-left: auto;
}

.main .title{
    background-color: rgb(197, 86, 154);
    color: rgb(256, 256, 256);
}

.main .two{
    background-color: rgb(91, 138, 214);
}

.preferences{
    margin: 0.5em;
}

.menuBar{
    /* padding: 0.6em; */
}

.menuBar div:nth-of-type(3){
    width: 100%;
}

.menuLinks ul{
    /* margin-left: -0.6em; */
    padding-left: 0;
    border: 0.03em solid rgba(128, 128, 128, 0.8);
    background-color: rgb(251, 255, 255);
    position: absolute;
    width: 100%;

}

.menuBar div:nth-of-type(3) li{
    font-size: 1.2em;
    font-weight: 600;
    list-style: none;
    border-bottom: 0.03em solid rgba(128, 128, 128, 0.5);
    padding: 0.4em 0.2em;
    margin: 0;
}

.menuBar div:nth-of-type(3) li:last-of-type{
    padding: 0;
}

li input{
    width: 98%;
    height: 40px;
    font-size: 1em;
    border: 0;
    margin-top: 0;
}

.preferences div span{
    margin-left: 0.5em;
}

.hide{
     display: none;
}

.lang ul{
    position: absolute;
    right: 0.2em;
}

.lang li{
    list-style: none;
    padding: 0.5em;
    background-color: rgb(91, 138, 214);
    color: #000;
}

.lang li .langLink{
    color: #000;
    text-decoration: none;
}

.lang span{
    margin-right: 0.5em;
}

.userMenu{
    font-size: 1.5em;
}

.userMenu .menuIcons{
    margin-left: 1em;
    margin-top: 1em;
}

main>div{
    padding: 0.3em;
}

main h1{
    padding: 0 0.3em;
}

.card .title h3{
    padding: 0.4em 0.4em;
}

.card{
    background-color: rgb(249, 248, 246);
}

.card article{
    padding: 0 0.5em;
}

footer{
    margin-top: 1.5em;
    background-color: rgb(235, 231, 226);
}

.quickLinks{
    padding: 0.6em;
}

.footerLinkTitle{
    border-bottom: 0.09em solid rgba(128, 128, 128, 0.5);
    padding-bottom: 0.2em;
}

.footerLinkTitle h3{
    margin-bottom: 0.2em;
}

.dropDownIcon{
    font-size: 1.5em;
    margin-top: 0.7em;
    color: rgb(238, 112, 35);
}

.quickLinks ul{
    padding: 0;
    /* display: none; */
}


.quickLinks li{
    font-size: 1.1em;
    list-style: none;
    margin-left: 0;
    padding: 0.3em 0.2em;
}

.quickLinks div:nth-of-type(4) .footerLinkTitle{
    border-bottom: 0;
}

.socialsContainer{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
}

.socials{
    font-size: 1.5em;
    margin: 0.8em 0.4em;
}

.footerLinks, .link{
    text-decoration: none;
    color: inherit;
}

/* questions */
.question{
    padding: 0 0.5em;
}

.inputDiv{
    width: 100%;
}

.inputDiv label{
    margin-bottom: 0.8em;
}
.inputDiv input, select{
    width: 99%;
    height: 30px;
    font-size: 1.2em;
    
}

.buttonDiv{
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

button{
    height: 40px;
    min-width: 20%;
    background-color: rgb(238 112 35);
    border: 1px solid rgb(238 112 35);
}

.prev{
    background-color: rgb(212 184 163);
    border: rgb(212 184 163);
}

.buttonDiv button{
    height: 40px;
    width: 20%;
    font-size: inherit;
    /* margin: 0.5em 0.5em; */
    
}

/* .buttonDiv button:nth-of-type(2){
    background-color: rgb(238 112 35);
    border: 1px solid rgb(238 112 35);
} */

.question, .summary{
    width: 100%;
    padding: 0em 0.3em;
}

.textInput{
    max-width: 100%;
}

@media (min-width: 768px) {
    .main{
        padding: 0em 2.5em;
    }

    .content{
        display: flex;
        justify-content: center;
    }

    .content div:nth-of-type(1){
        /* margin-right: 0.2em; */
    }

    .buttonDiv button{
        min-width: 30%;
    }

    .quickLinks{
        display: flex;
    }

    .quickLinks ul{
        display: block;
    }

    .quickLinks > div{
        flex: 1;
    }

    .dropDownIcon{
        display: none;
    }

    .footerLinkTitle{
        border-bottom: 0;
    }

    .question, .summary{
        width: 60%;
        padding: 0em 0.2em;
    }
}

@media (min-width: 992px) {
    .menuLinks ul{
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menuLinks ul li:nth-of-type(1){
        border-left: 0.02em solid rgba(128, 128, 128, 0.5);
    }

    .menuItem{
        flex: 50px;
        border-right: 0.02em solid rgba(128, 128, 128, 0.5);
        margin: 0em 0em;
        padding: 0.3em 0.5em;
        font-size: 1.1em;
    }

    .userMenu{
        display: none;
    }

    .question, .summary{
        width: 40%;
        padding: 0em 0.2em;
        margin-bottom: 1.5em;
    }
}